name: build and test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  workflow_call:
jobs:
  buildAndTestUbuntuRelease:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: ubuntu-latest
      configuration: Release
  buildAndTestWindowsRelease:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: windows-latest
      configuration: Release
  buildAndTestMac-x86_64Release:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: macos-15-intel
      configuration: Release
  buildAndTestMac-arm64Release:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: macos-latest
      configuration: Release
  buildAndTestUbuntuDebug:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: ubuntu-latest
      configuration: Debug
  buildAndTestWindowsDebug:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: windows-latest
      configuration: Debug
  buildAndTestMac-x86_64Debug:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: macos-15-intel
      configuration: Debug
  buildAndTestMac-arm64Debug:
    uses: ./.github/workflows/build_and_test_job.yaml
    with:
      os: macos-latest
      configuration: Debug

