name: build and test job
on:
  workflow_dispatch:
    inputs:
      os:
        type: choice
        description: 'OS to run on. Possible variants: ubuntu-latest, windows-latest, macos-latest (arm based CPU architecture), macos-15-intel (x86_64 based CPU arcitecture). Default: windows-latest'
        required: true
        options:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        - macos-15-intel
        default: windows-latest
      configuration:
        type: choice
        description: 'Build configuration. Default: Release'
        required: true
        options:
        - Debug
        - Release
        default: Release
  workflow_call:
    inputs:
      os:
        type: string
        required: true
        default: ubuntu-latest
      configuration:
        type: string
        required: false
        default: Release
jobs:
  buildAndTest:
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore src
    - name: Build
      run: dotnet build --configuration ${{ inputs.configuration }} --no-restore src
    - name: TestWindows
      if: ${{ startsWith(inputs.os, 'windows') }}
      run: dotnet test --no-build --configuration ${{ inputs.configuration }} --verbosity minimal --logger "trx;LogFilePrefix=testResults_${{ inputs.os }}_${{ inputs.configuration }}"
      working-directory: ./src
    - name: TestUnix
      if: ${{ startsWith(inputs.os, 'ubuntu') || startsWith(inputs.os, 'macos') }}
      run: |
        set +e  # Disable exit on error to ensure all frameworks are tested
        dotnet test --framework net8.0 --no-build --configuration ${{ inputs.configuration }} --verbosity minimal --logger "trx;LogFileName=${{ inputs.os }}/${{ inputs.configuration }}/net8.0/testResults.trx"
        dotnet test --framework net9.0 --no-build --configuration ${{ inputs.configuration }} --verbosity minimal --logger "trx;LogFileName=${{ inputs.os }}/${{ inputs.configuration }}/net9.0/testResults.trx"
        dotnet test --framework net10.0 --no-build --configuration ${{ inputs.configuration }} --verbosity minimal --logger "trx;LogFileName=${{ inputs.os }}/${{ inputs.configuration }}/net10.0/testResults.trx"
        set -e  # Re-enable exit on error
      working-directory: ./src
    - name: Test Report
      uses: dorny/test-reporter@v2
      if: success() || failure()
      with:
        name: Test Report for ${{ inputs.os }}
        path: ./src/**/*.trx
        reporter: dotnet-trx